<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-user-register-dm">
  <template>
  </template>

  <script>
    /**
     * `fotosocial-user-register-dm`
     * data manager para registrar usuarios nuevos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialUserRegisterDm extends Polymer.Element {
      static get is() { return 'fotosocial-user-register-dm'; }
      static get properties() {
        return {
          user: {
            type: Object,
            value: {}
          }
        };
      }
      
      checkIfUserExists(userLoggin) { 
        const users = JSON.parse( localStorage.getItem('fotosocial') ).users;
        const userFilter = users.filter( user => userLoggin.user === user.user && user.password === userLoggin.password);
        return userFilter.length > 0;
      }
      
      saveUserLocalStorage() {
        let fotosocial = localStorage.getItem('fotosocial') ? JSON.parse(localStorage.getItem('fotosocial')) : false;
        
        if (fotosocial) {
          fotosocial.users.push(this.user);
          localStorage.setItem('fotosocial', JSON.stringify(fotosocial));
        }
        else {
          let newfotosocial = {
            users: [
              this.user
            ]
          } 
          localStorage.setItem('fotosocial', JSON.stringify(newfotosocial));
        }
        console.log(localStorage.getItem('fotosocial'));
      }
    }

    window.customElements.define(FotosocialUserRegisterDm.is, FotosocialUserRegisterDm);
  </script>
</dom-module>
